<% content_for :page_title, "Blog Users" %>

<section class="section">
  <div class="container">
    <% @users.each do |user| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">
                <%= link_to user.name, user %>
              </p>
            </div>
            <!-- Right Side edit/delete buttons-->
            <div class="level-right">
              <p class="level-item">
                <%= link_to "Edit", edit_user_path(user), class: "button is-light is-small" %>
              </p>
              <p class="level-item">
                <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger is-small" %>
              </p>
            </div>
          </div>
          <div class="content">
            <%= user.email %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
