<% content_for :page_title, @user.name %>

<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left Side-->
      <div class="level-left">
        <p class="level-item">
          <%= link_to "Back", :back, class: "button is-primary" %>
        </p>
      </div>

      <!-- Right Side-->
      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_user_path(@user), class: "button is-light" %>
        </p>
        <p class="level-item">
          <%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger" %>
        </p>
      </div>
    </nav>
    <hr/>
    <div class="content">
      <%= @user.email %>
    </div>
    <hr/>
  </div>
</section>
